<p>こんにちは <%= @email %>さん!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスの変更をお知らせします <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスの変更をお知らせします <%= @resource.email %>.</p>
<% end %>
